body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  flex-direction: column;
}

.expand {
  flex: 1;
}

.vcenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.keyboard {
  width: 300px;
  height: 100px;
  position: relative;
}

.key {
  background-color: white;
  position: absolute;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  top: 0px;
  height: 100%;
}

.key:last-of-type {
  border-right: 1px solid black;
}

.key.sharp {
  background-color: #111111;
  height: 50%;
  z-index: 999;
  border: 1px solid black;
}

.key.pressed {
  background-color: #999999;
}
